include ../Buttons/Buttons.pug

section.services
    .services__container 
        .services__header
            h2.services__title Услуги
            +Buttons
        .services__img-container
            img(class="sevices__img", src="../../assets/img/Cafe.jpg", alt="фото Кафе")
            h3.services__img-title Уютное кафе
