section.price
    .price__container 
        h2.price__title Цены и абонементы

        .price__buttons-wrapper
            button.price__button
                h4 Зимний сезон 2021-2022  
                include ../../assets/svg/arrow-left-large.svg 
                
            button.price__button
                h4 Абонементы 
                include ../../assets/svg/arrow-left-large.svg 

            button.price__button 
                h4 Скидки 
                include ../../assets/svg/arrow-left-large.svg 

            button.price__button 
                h4 Дополнительные услуги
                include ../../assets/svg/arrow-left-large.svg 

                