/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Gilroy', sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$bigDesktopWidth         : 1920px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$accent-color            : #8D86C9;
$sub-accent-color        : #F7ECE1;
$link-hover-color        : #000000;

$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$bg-color                : #ffffff;

$placeholder     : #999999;

// Border Color
$border-base             : #ffffff;
