html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Учимся работать с шаблонизатором Pug"
  body
    h1 Hello, World!
    a(href="./index.html") текст
    ul.list2
        li.list__item Значение 1
        li.list__item Значение 2
        li.list__item Значение 3
        li.list__item Значение 4
