section.courts
    .container
        .courts__wrapper
            .courts__item
                .courts__card
                    img(src="../../assets/img/Court-1.jpg", class="courts__img", alt="Мяч на ракетке") 
                    span.courts__title 5 летних #[br] грунтовых кортов
            .courts__item
                .courts__card
                    img(src="../../assets/img/Court-2.jpg", class="courts__img", alt="Мяч на сетке") 
                    span.courts__title Зал с покрытием “Искусственная трава”
            .courts__item
                .courts__card
                    img(src="../../assets/img/Court-3.jpg", class="courts__img", alt="Мячи") 
                    span.courts__title Зал с покрытием #[br] “Хард”