.courts {
  color: $mainFontColor;
  margin-bottom: 150px;

  &__wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 416px;
    border: 1px solid $sub-accent-color;
  }

  &__card {
    position: relative;
    width: 376px;
    height: 450px;
    background: $placeholder;
  }

  &__img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &__title {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
    font-weight: 700;
    font-size: 27px;
    line-height: 140%;
  }

  @media (max-width: $desktopWidth) {
    & {
      margin-bottom: 15px;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }
}
