section.courts
    .container
        .courts__wrapper
            .courts__item
                .courts__card
                    img(src="../../assets/img/Court-1.jpg", class="courts__img", alt="Мяч на ракетке") 
                    p.courts__title 5 летних грунтовых кортов
            .courts__item
                .courts__card
                    img(src="../../assets/img/Court-2.jpg", class="courts__img", alt="Мяч на сетке") 
            .courts__item
                .courts__card
                    img(src="../../assets/img/Court-3.jpg", class="courts__img", alt="Мячи") 