.hero {
    background-image: url(../../assets/img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    background-color: rgb(153, 153, 153);
    overflow: hidden;
    margin-bottom: 70px;

    height: 1000px;
}