section.hero
    .container
        .hero__inner
            .hero__text
                .hero__title
                    h1 Петербургский #[br] теннисный клуб #[br] имени М.А. Пасечникова
                .hero__play
                    .hero__play-button
                        button(type='button' class=`hero__button`) 
                            p ▶
                    .hero__play-text
                        p Посмотрите видео о нашем клубе
            .hero__services
                ul.hero__services-grid
                    li.hero__services-item 
                        .hero__services-inner
                            span Услуги
                            a.hero__services-link(href="#", target="_blank") Аренда корта
                                .hero__services-icon
                                    include ../../assets/svg/link.svg
                    li.hero__services-item 
                        .hero__services-inner
                            span Услуги
                            .hero__link
                                a.hero__services-link(href="#", target="_blank") Детский теннис
                                    .hero__services-icon 
                                        include ../../assets/svg/link.svg                    
                    li.hero__services-item 
                        .hero__services-inner
                            span Услуги
                            .hero__link
                                a.hero__services-link(href="#", target="_blank") Сборы команд
                                    .hero__services-icon
                                        include ../../assets/svg/link.svg
                    li.hero__services-item 
                        .hero__services-inner
                            span Турниры
                            .hero__link
                                a.hero__services-link(href="#", target="_blank") Расписание
                                    .hero__services-icon
                                        include ../../assets/svg/link.svg

