.hero {
    background-image: url(../../assets/img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
    background-color: rgb(153, 153, 153);
    overflow: hidden;
    color: white;
    height: 1000px;
    
    &__inner {
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 305px;
    }

    &__title {
        width: 636px;
        height: 201px;
        margin-bottom: 60px;
    }

    &__title h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        // line-height: 68px;
        line-height: 140%;
    }

    &__play {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 268px;
    }

    &__play-button {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 50%;

    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 25px;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: none;
        background: #8D86C9;
    }

    &__play-text {
        margin-left: 30px;
        font-size: 18px;
        font-weight: 600px;
    }

    &__nav {
    }

    &__nav-grid {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 12px;
    }

    &__nav-item {
        height: 151px;
        background-color: #8D86C9;
    }
}

