section.hero
    .container
        .hero__inner
            .hero__text
                h1 Петербургский теннисный клуб имени М.А. Пасечникова
            .hero__play
                .hero__play-button
                    button(type='button' class=`hero__button`) play-icon
                .hero__play-text
                    p Посмотрите видео о нашем клубе
                