section.advantages
    .container
        .advantages__wrapper
            .advantages__item
                .advantages__card
                    img(src="../../assets/img/Court-1.jpg", class="advantages__img", alt="Мяч на ракетке") 
                    h3.advantages__title 5 летних #[br] грунтовых кортов
            .advantages__item
                .advantages__card
                    img(src="../../assets/img/Court-2.jpg", class="advantages__img", alt="Мяч на сетке") 
                    h3.advantages__title Зал с покрытием “Искусственная трава”
            .advantages__item
                .advantages__card
                    img(src="../../assets/img/Court-3.jpg", class="advantages__img", alt="Мячи") 
                    h3.advantages__title Зал с покрытием #[br] “Хард”