mixin Buttons(block)
    .buttons
        .buttons__wrapper
            button.buttons__btn.buttons__btn-prev
                include ../../assets/svg/arrow-left.svg
            button.buttons__btn.buttons__btn-next
                include ../../assets/svg/arrow-right.svg
