.buttons {
  display: flex;
  width: 100px;

  position: relative;

  &__wrapper {
    position: absolute;
    left: -5px;
    top: 3px;
  }

  &__btn-prev {
    margin-right: 15px;
  }

  &__btn {
    min-height: 45px;
    min-width: 45px;
    background-color: $accent-color;
  }
}
