html(lang="ru")
  head
    meta(charset="utf-8")
    title Tennis-website
  body
    include ../../components/Header/Header.pug
    include ../../components/Hero/Hero.pug
    include ../../components/Courts/Courts.pug
    include ../../components/Sport-club/Sport-club.pug

    //- include ../../components/Footer/Footer.pug