.about {
  &__container {
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    position: relative;
    width: 1076px;
    display: flex;
    justify-content: flex-end;
  }

  &__img {
    position: absolute;
    left: 0px;
    top: 70px;
    height: 514px;
    width: 526px;
    background-image: url(../../assets/img/Sport-club.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    color: $secondFontColor;
    width: 636px;
    min-height: 654px;
    background-color: $sub-accent-color;
  }

  &__text-wrapper {
    width: 430px;
    margin-top: 70px;
    margin-right: 60px;
  }

  &__text-title {
    margin-bottom: 25px;
  }

  &__text-block {
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}
