.sport-club {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 654px;
    border: 1px solid black;
  }

  &__img {
    position: absolute;
    height: 514px;
    width: 526px;
    background-image: url(../../assets/img/Sport-club.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
  }

  &__text {
    min-width: 636px;
    min-height: 654px;
    background-color: $sub-accent-color;
  }
}
