.header {
    display: flex;
    background: rgb(179, 169, 169);

    &__inner {
        display: flex;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
    }

    &__nav-wrapper {
        display: flex;
        list-style: none;
    }

    &__icons {
        display: flex;
        align-items: center;
        fill: #ffffff;
    }
}

.nav-wrapper{
    display: flex;
    list-style: none;    
}

.icon {
    display: inline-block;
}