include ../Nav/Nav.pug

header.header
    .container 
        .header__inner
            .header__logo
                include ../../assets/svg/logo.svg
            .header__nav
                +Nav
            .header__icons
                i.icon
                    include ../../assets/svg/youtube.svg
                i.icon
                    include ../../assets/svg/vk.svg

