.trainers {
  margin-bottom: 150px;
  height: 523px;
  color: $altFontColor;

  &__title {
    margin-bottom: 75px;
  }

  &__btns {
    display: flex;
    width: 100px;
    justify-content: space-between;
    position: relative;
  }

  &__btn {
    height: 45px;
    width: 45px;
    background-color: $accent-color;
  }

  &__cards-slider {
    overflow: hidden;
  }

  &__cards-slider-line {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
  }

  &__card-container {
    height: 378px;
    width: 196px;
  }

  &__card {
    // min-width: 196px;
    margin-right: 24px;
    text-align: center;
  }

  &__card-img {
    position: relative;
    margin-bottom: 25px;
    height: 240px;
    border: 1px solid $sub-accent-color;
  }

  &__img {
    position: relative;
    top: -1px;
    left: 0px;
  }

  &__card-title {
    margin-bottom: 15px;
  }

  &__card-title p:first-child {
    margin-left: -5px;
  }

  &__card-about {
    font-weight: 400;
    font-size: 14px;
  }
}
