section.trainers
    .container 
        .trainers__slider-container
            .trainers__slider-top
                h2.trainers__title Тренерский состав
                .trainers__btns
                    button.trainers__btn-prev.trainers__btn
                    button.trainers__btn-next.trainers__btn

                .trainers__cards-slider
                    .trainers__card-container
                            .trainers__card-img
                                img(class="trainers__img", src="../../assets/img/cards/Pulvinar.jpg", alt="фото Pulvinar")
                            h4.trainers__card-title 
                                p Pulvinar 
                                p aliquam
                            .trainers__card-about 
                                p Arcu elit massa amet turpis vel consequat pellentesque sit.                         
                    .trainers__card-container
                        .trainers__card
                            .trainers__card-img
                                img(class="trainers__img", src="../../assets/img/cards/Pretium.jpg", alt="фото Pretium")
                            h4.trainers__card-title 
                                p Pretium 
                                p odio
                            .trainers__card-about 
                                p Bibendum aliquam volutpat nisl a duis in nisi. In sed commodo lorem morbi quis. 
                    .trainers__card-container
                        .trainers__card
                            .trainers__card-img
                                img(class="trainers__img", src="../../assets/img/cards/Aliquet.jpg", alt="фото Aliquet")
                            h4.trainers__card-title 
                                p Aliquet 
                                p consectetur
                            .trainers__card-about 
                                p Id sapien sed nibh fermentum massa posuere ipsum. Diam in.
                    .trainers__card-container
                        .trainers__card
                            .trainers__card-img
                                img(class="trainers__img", src="../../assets/img/cards/Blandit.jpg", alt="фото Blandit")
                            h4.trainers__card-title 
                                p Blandit 
                                p augue 
                            .trainers__card-about 
                                p Scelerisque accumsan pretium justo, vitae elit. Dolor semper morbi sit auctor vel diam eros.
                    .trainers__card-container
                        .trainers__card
                            .trainers__card-img
                                img(class="trainers__img", src="../../assets/img/cards/Lorem.jpg", alt="фото Lorem")
                            h4.trainers__card-title 
                                p Lorem 
                                p lacus 
                            .trainers__card-about 
                                p Adipiscing amet, viverra dignissim egestas. Sed nibh egestas venenatis faucibus. 
                    .trainers__card-container
                        .trainers__card
                            .trainers__card-img
                                img(class="trainers__img", src="../../assets/img/cards/Sed.jpg", alt="фото Sed")
                            h4.trainers__card-title 
                                p Sed 
                                p erat  
                            .trainers__card-about 
                                p Quis ullamcorper pretium lacus risus tellus dolor etiam. 
                                

