section.trainers
    .container 
        h2.trainers__title Тренерский состав
        .trainers__cards-container 
            .trainers__cards-slider
                .trainers__card
                    .trainers__card-img
                        img(src="../../assets/img/cards/Pulvinar.jpg", alt="фото Pulvinar")
                    h4.trainers__card-title Pulvinar aliquam
                    .trainers__card-about Arcu elit massa amet turpis vel consequat pellentesque sit. 
                        p
                .trainers__card
                    <span>2</span>
                .trainers__card
                    <span>3</span>
                .trainers__card
                    <span>4</span>
                .trainers__card
                    <span>5</span>
                .trainers__card
                    <span>6</span>

