@import "~normalize.css";
@import "./utils/fonts.css";
@import "./utils/vars.scss";
@import "./utils/reset.scss";
@import "../../components/modul.scss";

html {
  overflow: hidden;
}

body {
  color: $mainFontColor;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  background: $bg-color;
}

.container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: $desktopWidth) {
  .hero__services {
    display: none;
  }

  html {
    overflow: visible;
  }
}
