.nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    margin-right: 40px;
  }

  &__item-link {
    color: inherit;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.3s;
  }

  &__item-link:hover {
    color: $link-hover-color;
  }

  &__item:last-child {
    margin-right: 0px;
  }
}
