.nav{
    font-size: 14px;
    color: white;
  
    &__wrapper{
        display: flex;
        justify-content: space-between;
        list-style: none;    
    }

    &__item {
        margin-right: 40px;     
    }

    &__item-link{
        color: inherit;
        white-space: nowrap;
        text-decoration: none;
    }

    &__item:last-child {
        margin-right: 0px;
    }
}
